
  .vertical-center{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40%;
      /*margin-bottom: -30px;*/
    }
  
    #rounded {
      width: 100%;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 10px;
      margin-bottom: 15px;  
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 0.5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }